.spinner {
    /* Your styling */
    width: 50px;
  height: 50px;

  border: 6px solid #e0e0e0;   /* Light background ring */
  border-top: 6px solid #db3434; /* Blue spinning part */

  border-radius: 50%;    
    animation: spin 1s linear infinite; /* Required */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Country Card  */
.country-card{
    background-color: rgb(240, 240, 240);
    border:2px solid blue;
    border-radius: 12px;
    margin:20px;
    padding:20px;
    align-items: center;
    justify-content: center;
}
.border-grid{
    display:flex;
}
.error{
    color:red;
    font-size: 14px;
    font-weight:80%;
}

/* class to hide and show elements */
.hidden{
    display:none;
   
}
.border-grid{
    display:flex;
    flex-direction: column;
    background-color: rgb(221, 238, 238);
    margin:20px;
    padding:30px;
}